<div class="fr-tile fr-enlarge-link" id="tile-6609">
    <div class="fr-tile__body">
        <div class="fr-tile__content">
            <h3 class="fr-tile__title">
                <a href="https://cisirh.github.io/espace-noyau" target= »_blank »>Espace documentaire du noyau RH FPE</a>
            </h3>
            <p class="fr-tile__desc">Cliquez ici</p>
            <p class="fr-tile__detail"></p>
        </div>
    </div>
    <div class="fr-tile__header">
        <div class="fr-tile__pictogram">
            <svg aria-hidden="true" class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px">
                <use class="fr-artwork-decorative" href="/img/artwork/pictograms/city-hall.svg#artwork-decorative"></use>
                <use class="fr-artwork-minor" href="/img/artwork/pictograms/city-hall.svg#artwork-minor"></use>
                <use class="fr-artwork-major" href="/img/artwork/pictograms/city-hall.svg#artwork-major"></use>
            </svg>
        </div>
    </div>
</div>
